body {
  text-align: center;
  background-color: #1b262c;
}

h1 {
  font-size: 5rem;
  color: #ececec;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #eeeeee;
  width: 50%;
  margin-left: 25%;
 }

footer {
  color: #DBEDF3;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.set{
   padding:2% 10%;
}

.a {
   background: url("images/a.png");
}

.j {
   background: url("images/j.png");
}

.s {
   background: url("images/s.png");
}

.h {
   background: url("images/h.png");
}

.n {
   background: url("images/n.png");
}

.k {
   background: url("images/k.png");
}

.f {
   background: url("images/f.png");
}

.r {
   background: url("images/r.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.cry {
  outline: none;
  border: 10px solid black;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: white;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
